@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
@import url('https://fonts.googleapis.com/css?family=Cousine|Cutive+Mono|Lekton');
body,
html {
  /* cursor: url('https://ionicframework.com/img/finger.png'), auto;} */
  cursor: url('../images/cursor-small.png'), auto; }
  /* cursor: url('../images/C2-2.png') 32 32; */


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 88%;
}

.card {
  display: inline-block;
  height: 100vh;
}

.header {
  width: 100%;
  margin: 0%;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 2em;
  font-weight: 500;
  padding-left: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: #778ca3;
  margin: 0%;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.footer {
  /* display: inline-block; */
  width: 100%;
  height: 1%;
}

p {
  font-family: 'Cousine', monospace;
  font-size: 0.7em;
  margin-top: 3.5px;
  margin-right: 0.3em;
  text-align: right;
  color: #49565f;
}