$whitecolor: #ECF0F1;
$darkcolor: #22313F;
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700|Montserrat+Alternates:400,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Armata);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);



header{
  height: 100%;
  background: url("/assets/images/starry-night-9.jpg");
  //background: url("/assets/images/test.png");
  background-color: rgba(83,83,83,0.6);
  background-blend-mode: multiply;
  //background-position: bottom left;
  background-size: cover;
  border-top: 10px solid #D2D7D3;
}

//start cloud animation
.clouds {
  -webkit-animation: animateBackground 25s linear 2s infinite;
  -moz-animation: animateBackground 25s linear 2s infinite;
  -ms-animation: animateBackground 25s linear 2s infinite;
  -o-animation: animateBackground 25s linear 2s infinite;
  animation: animateBackground 25s linear 2s infinite;
  opacity: 1;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  background-image: url("/assets/images/clouds.png");
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  z-index: 3;
  left: 0px;
  top: 0px;
}

@-webkit-keyframes animateBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1781px 100px;
  }
}

@-moz-keyframes animateBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1781px 0px;
  }
}

@-ms-keyframes animateBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1781px 0px;
  }
}

@keyframes animateBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1781px 0px;
  }
}
//end of cloud animation

//start navigation part
.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 8000;                 //可用于将在一个元素放置于另一元素之后
  trnsition: .7s cubic-bezier(.77, 0, .175, 1)
}

.main-nav ul {
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  margin: 0;
}

.main-nav ul li {
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  display: inline-block;
  -webkit-transition: .6s cubic-bezier(.77, 0, .175, 1);
  transition: .6s cubic-bezier(.77, 0, .175, 1);
}

.main-nav ul li a {
  text-transform: uppercase;
  font-family: 'Armata', sans-serif;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  //letter-spacing: 0.1em;
  margin-left: 1em;     //word-space
  margin-right: 1em;
  //color: #DCC6E0;
  color: #22313F;
  -webkit-transition: .1s;
  transition: .1s;
}

.main-nav ul li a.is-active, .main-nav ul li a:hover {
  color: #FF6666;
  font-size: 1.3em;

}

.main-nav:before {          //不是在他前面的意思嗎
  content: '';
  display: block;
  //background: rgba(78,88,114,0.88);
  background: rgba(255, 255, 255,0.9);
 // border-bottom: 1px solid #F3F3F3;
  margin-top: -90px;
  -webkit-transition: .4s cubic-bezier(.77, 0, .175, 1);
  transition: .4s cubic-bezier(.77, 0, .175, 1)
}

.main-nav .main-nav-trigger {
  display: block;
  position: fixed;
  top: 30px;
  right: 50px;
  padding: 10px 0;
  cursor: pointer
}

@media (min-width: 768px) {
  .main-nav {
    left: 0;
    height: auto
  }

  .main-nav:before {
    height: 90px
  }

  .main-nav ul {
    top: auto;
    bottom: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }

  .main-nav ul li {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    display: inline-block
  }

  .main-nav:hover ul li {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  .main-nav:hover:before {
    margin-top: 0
  }
}
//end navigation part


.clear-fix {
  clear: both;
}

.greeting{
  margin-top: 13em;
  width: 100%;
  height: 32%;
  min-height: 150px;
  background-color: rgba(83,83,83,0.55);
  position: relative;
}

#hello-me{
  width: 11.7%;
  height: auto;
  margin-left: 15%;
  margin-top: 5%;
}

#hello-p{
  width: 10%;
  height: auto;
  float: right;
  margin-right: 15%;
  margin-top: -2%;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0;
  padding: 0;
  color: $whitecolor;
  //font-family: 'Ubuntu', sans-serif;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  //font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  letter-spacing: 0.05em;
}

.getstart{
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  //margin-top: 9em;

  bottom: 0;
}

.clicker{
  margin-top: 0;
  //margin-bottom: 5px;
  font-family: 'Armata', sans-serif;
  font-size:1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $whitecolor;
}

.arrow{
  padding-top: 20px;
}

//arrow move

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
//end arrow move

#about{
  height: 100vh;
  background-color:#ECECEC;
}

.ab{
   display: inline-block;
   vertical-align: middle;
   margin-left: 7em;
   margin-top: 0;
  // padding-top: 40px;
}

.intro{
  width: 62%;
  margin-left: 0;
  padding-left: 19%;
  //font-family: 'Alegreya Sans', sans-serif;
  //font-weight: 400;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 0.88em;
  letter-spacing: 0.03em;
  //line-height: 1.5em;
  text-align:center;
  //background-color: $whitecolor;
}

.title{
  color: #263b4f;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.08em;
  margin: 0;
  padding-top: 2%;
  text-align: center;
}

.wtitle{
  color: #ECECEC;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.08em;
  margin: 0;
  padding-top: 2%;
  text-align: center;
}

.wtitle2{
  color: #ECECEC;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.08em;
  margin: 0;
  padding-top: 2%;
  //text-align: center;
  position: absolute;
  left: 50%;
  z-index: 3000;
  transform: translate(-50%, 0); //?

}

.subtitle{
  color: #FFF9C4;
  //font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.ability{
  text-align:center;
}
.skill{
  width: 20%;
  max-width: 330px;
  height: 43%;
  max-height: 280px;
  margin-top: 6.6%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  background-color: #263b4f;
  //background-color: rgba(78,88,114,0.88);
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  vertical-align: middle;
}

.plant{
  margin-top:-20%;
}

.round{
  width:16%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3.2%;
  text-align: center;
}

.flag{
  width:13%;
  margin-left: 2%;
  margin-right: 2%;
  //margin-top: 3.2%;
  //text-align: center;
}

.circle{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 1.2%;
  margin-right: 1.2%;
  background-color: #ffffff;
}

.semi{
  border-radius: 10px 0 0 10px;
  width: 5px;
  margin-left: 1.2%;
  margin-right: 1.2%;
  background-color: #ffffff;
}

.sp{
  display: inline-block;
  vertical-align: middle;
  margin-top:5%;
}

.like{
  width:13%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3.5%;
  text-align: center;
}

.ch-like{
  width:18%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3.5%;
  text-align: center;
}
// section about me ending


#approach{
  height: 100vh;
  background-color: #22313f;
  //background-color: rgba(78,88,114,0.88);
}

.ap-intro{
  color: #ffffff;
  margin-bottom: 35px;
}

.ap-pic{
  background-color: #ffffff;
  //margin-top: 0;
  width: 80%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding-bottom: 1.5%;
}

//.melt{
//  position: relative;
//  }

#work{
  height: 100vh;
  background-color:#34465d;
  position: relative;
}

//.project{
//  width: 20%;
//  height: 43%;
//  margin-top: 5%;
//  margin-left: 2%;
//  margin-right: 2%;
//  display: inline-block;
//  text-align: center;
//  vertical-align: middle;
//  border-radius: 50%;
//}


.workspace {
  margin: auto;
  padding-top: 85px;
  //margin-top: 300px;
  //padding: 0 0 10% 10%;
  list-style: none;
  display: block;
  text-align: center;
  width: 900px;
  height: 600px;
}

.workspace li {
  width: 25%;
  height: 25%;
  min-width: 220px;
  min-height: 220px;
  //-webkit-transform: translateY(-100%);
  //-ms-transform: translateY(-100%);
  //transform: translateY(-100%);
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 3%;
  display: inline-block;
  text-align: center;
}

//project animation

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow:
  inset 0 0 0 10px rgba(255,255,255,0.3),
  0 1px 2px rgba(0,0,0,0.1);

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ch-img-1 {
  background-image: url("/assets/images/projects/Building-cover.jpg");
  background-size: contain;
}

.ch-img-2 {
  background-image: url("/assets/images/projects/Petcare-cover.jpg");
  background-size: contain;
}

.ch-img-3 {
  background-image: url("/assets/images/projects/HY-cover.jpg");
  background-size: contain;
}

.ch-img-4 {
  background-image: url("/assets/images/projects/CAT-cover.jpg");
  background-size: contain;
}

.ch-img-5 {
  background-image: url("/assets/images/projects/Family-cover.jpg");
  background-size: contain;
}

.ch-img-6 {
  background-image: url("/assets/images/projects/DT-cover.jpg");
  background-size: contain;
}

.ch-info {
  position: absolute;
  background: rgba(63,147,147, 0.8);
  //background: rgba(77,182,172, 0.8);



  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);

}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  //letter-spacing: 2px;
  //font-size: 1em;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  //margin: 0 20px;
  padding: 60px 0 0 0;
  height: 30px;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  text-shadow:
  0 0 1px #fff,
  0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-family: 'Armata', sans-serif;
  //font-style: italic;
  margin: 0 50px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -ms-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff222;
  color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
  box-shadow:
  inset 0 0 0 1px rgba(255,255,255,0.1),
  0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.ch-item:hover .ch-info p {
  opacity: 1;
}

.open{
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}


//project end
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlayTW{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  //transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.is-visible {
  opacity: 1;
  visibility: visible;
  z-index: 8888;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.overlayTW.is-visible {
  opacity: 1;
  visibility: visible;
  z-index: 8888;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

//.overlay:target {
//  visibility: visible;
//  opacity: 1;
//}



.popup{
  width: 75%;
  //max-width: 800px;
  margin: 20px auto;
  background-color: #ECECEC;
  overflow: scroll;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
  height: 90%;
  z-index: 9000;
  //transition: all 5s ease-in-out;
  padding: 20px;
}

//.p-popup{
//  position: fixed;
//  top: 50%;
//  left: 50%;
//  width: 100%;
//  height: 100%;
//  overflow-y: scroll;
//  //z-index: 9000;
//  //visibility: hidden;
//  //-webkit-backface-visibility: hidden;
//  //-moz-backface-visibility: hidden;
//  //backface-visibility: hidden;
//  -webkit-transform: translateX(-50%) translateY(-50%);
//  -moz-transform: translateX(-50%) translateY(-50%);
//  -ms-transform: translateX(-50%) translateY(-50%);
//  transform: translateX(-50%) translateY(-50%);
//}

//.p-show{
//  visibility: visible;
//  opacity: 1;
//}

//.p-close{
//  font-family: 'Permanent Marker', cursive;
//  font-weight: 400;
//  font-size: 1.8em;
//}

.innerbox{
  width: 75%;
  //max-width: 800px;
  margin: 20px auto;
  background-color: #ECECEC;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.p-popup .innerbox .inner2box{
  position: relative;
}

.p-title{
  color: #34465d;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2.2em;
  letter-spacing: 0.08em;
  margin: 0;
  padding-top: 5%;
  text-align: center;
}

.p-title-desc{
  color: #34465d;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.08em;
  margin: 0;
  text-align: center;
}

.p-subtitle{
  color: #9E9E9E;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 1.02em;
  letter-spacing: 0.08em;
  margin: 0;
  text-align: center;
}

.p-aptitle{
  color: #78909C;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

.p-servicetitle{
  color: #34465d;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 1.05em;
  letter-spacing: 0.08em;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.p-contact{
  color: #34465d;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 1em;
  //letter-spacing: 0.08em;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.p-abstract{
  width: 75%;
  margin:auto;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: bold;
  text-align:center;
  //padding-top: 2%;
  padding-bottom: 2%;
  //background-color: $whitecolor;
}

.p-content{
  width: 80%;
  margin:auto;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align:center;
}

figure{
  width:85%;
  height: auto;
  margin: auto;
  //padding-top: 2%;
  text-align: center;
}

figcaption{
  padding-top: 10px;
  text-align: center;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  padding-bottom: 30px;
}

.close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 17px;
  right: 25px;
  //font-family: "Alegreya Sans SC", Helvetica, serif;
  //font-size: 1.5em;
  //font-family: 'Permanent Marker', cursive;
  //font-weight: 400;
  color: #9E9E9E;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  text-decoration:none;
  //color: black;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.close:hover {
  -webkit-transform: rotate(90deg) scale(.8);
  -ms-transform: rotate(90deg) scale(.8);
  -moz-transform: rotate(90deg) scale(.8);
  -o-transform: rotate(90deg) scale(.8);
  transform: rotate(90deg) scale(.8); }

//.p-popup .innerbox .inner2box .p-close:hover {
//  -webkit-transform: rotate(90deg) scale(.8);
//  -ms-transform: rotate(90deg) scale(.8);
//  -moz-transform: rotate(90deg) scale(.8);
//  -o-transform: rotate(90deg) scale(.8);
//  transform: rotate(90deg) scale(.8); }

//start project open

#contact{
  height: 100vh;
  position: relative;
  background-color: #22313f;
}

.contact-title {
  height: 45%;
  position: relative;
}

.title2{
  color: #ECECEC;
  //font-family: 'Permanent Marker', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.09em;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-bg {
  //margin-top: 10%;
  width: 100%;
  height: 55%;
  //min-height: 200px;
  //background-color: rgba(83,83,83,0.55);
  position: relative;
}

.contact-intro {
  position: absolute;
  width: 50%;
  //top: 10px;
  left: 50%;
  color: #ECECEC;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  //letter-spacing: 0.08em;
  margin: auto;
  //padding-top: 2%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.col-lg-12 a#mailaccount {
  position: absolute;
  border-radius: 10px;
  top: 15%;
  left: 50%;
  //transform: translateX(-50%) translateY(-50%);
  background-color: #FF7B69;
  color: white;
  padding: 15px;
  font-family: 'Armata', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  display: block;
  //margin: auto;
  text-align: center;
  font-weight: 500;
  width: 200px;
  margin-left: -110px;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.col-lg-12 a#mailaccount:hover {
  background-color: transparent;
  color: #FF7B69; }

//footer

footer{
  width: 100%;
  height: 40px;
  position: relative;
  background: url("/assets/images/footer.jpg");
  background-color: rgba(83,83,83,0.7);
  background-blend-mode: multiply;
  background-size: cover;
  //border-bottom: 2px solid #D2D7D3;
  bottom:0;
}

.sign{
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  //letter-spacing: 0.03em;
  color: #ECECEC;
  //line-height: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  margin-top: 0;
}

.moon-bg {
  position: absolute;
  width: 100%;
  height: auto;
  bottom:0;
}

.astronaut{
  width: 12.5%;
  height: auto;
  margin-left: 12%;
  margin-top: 8%;
}

.planet-double{
  width: 4.5%;
  height: auto;
  margin-left: 25%;
  margin-bottom: 5%;
}

.coon{
  width: 12%;
  height: auto;
  margin-left: 75%;
  margin-bottom: 2%;
}

.float {
  -moz-animation: float 3.5s infinite;
  -webkit-animation: float 3.5s infinite;
  animation: float 3.5s infinite;
}

@keyframes float {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes float {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes float {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.float2 {
  -moz-animation: float2 4s infinite;
  -webkit-animation: float2 4s infinite;
  animation: float2 4s infinite;
}

@keyframes float2 {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@-moz-keyframes float2 {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@-webkit-keyframes float2 {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}