$whitecolor: #ECF0F1;
$darkcolor: #22313F;

header{
  height: 800px;
  background: url("/assets/images/starry-night.jpg");
  background-color: rgba(83,83,83,0.3);
  background-blend-mode: multiply;
  background-size: cover;
  border-top: 10px solid #D2D7D3;
}

nav a{
  float: right;
  margin-top: 30px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-right: 30px;
  color: rgba(233,212,96,0.4);
}

a:hover{
  color: rgba(233,212,96,1);
}

.clear-fix {
  clear: both;
}

.greeting{
  margin-top: 16em;
  width: 100vw;
  height: 32%;
  min-height: 150px;
  background-color: rgba(83,83,83,0.55);
  position: relative;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0;
  padding: 0;
  color: $whitecolor;
  font-size: 3em;
}

.getstart{
  text-align: center;
  margin-top: 9.88em;
}

.klicker{
  margin-top: 0;
  margin-bottom: 20px;
  font-size:1.25em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $whitecolor;
}